<head>
  <link rel="stylesheet" href="../public/assets/css/adminUsers.css">
</head>


  <h1>Lista de Usuarios Registrados</h1>

  {{#if users.length}}
    <ul>
      {{#each users}}
        <li>
          <strong>Nombre:</strong> {{this.first_name}} {{this.last_name}}<br>
          <strong>Correo Electrónico:</strong> {{this.email}}
          <!-- Agrega más campos según sea necesario -->
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay usuarios registrados.</p>
  {{/if}}

  <form action="/api/users" method="POST">
    <button type="submit">Eliminar Usuarios Inactivos</button>
  </form>

  <!-- Agrega más contenido según tus necesidades -->

