<span><a  href="/">Regresar</a></span>
<h2>Cambiar Rol de Usuario</h2>
<h2>Usuario: {{usuario.email}}</h2>
<h2>Rol Actual: {{usuario.role}}</h2>
<hr>
<form action="/api/users/premium/{{usuario._id}}" method="post">
  <label for="newRole">Nuevo Rol:</label>
  <select name="newRole" id="newRole">
    <option value="user">Usuario</option>
    <option value="premium">Premium</option>
  </select>
  <button type="submit">Cambiar Rol</button>
</form>

