<h2>Perfil de {{usuario.first_name}}</h2>
<hr>
<p>Nombre: <strong>{{usuario.first_name}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>ROL: <strong>{{usuario.role}}</strong></p>

<br>
{{>menu}}