<!-- resetPassword.handlebars -->

<span><a href="/">Regresar</a></span>

<h1>Restablecer Contraseña</h1>
<p>Por favor, ingresa una nueva contraseña para tu cuenta.</p>

<form action="/updatePassword/{{ token }}" method="POST">
  <input type="hidden" name="token" value="{{ token }}">
  <label for="newPassword">Nueva Contraseña:</label>
  <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" required>

  <input type="submit" value="Restablecer Contraseña">
</form>